//! **************************************************************************
// Written by: Map P.20131013 on Sun Jul 30 14:50:22 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P75" LEVEL 1;
COMP "nrd" LOCATE = SITE "P139" LEVEL 1;
COMP "nwr" LOCATE = SITE "P152" LEVEL 1;
COMP "rst" LOCATE = SITE "P74" LEVEL 1;
COMP "nbhe" LOCATE = SITE "P138" LEVEL 1;
COMP "nble" LOCATE = SITE "P137" LEVEL 1;
COMP "nprd" LOCATE = SITE "P193" LEVEL 1;
COMP "npwr" LOCATE = SITE "P196" LEVEL 1;
COMP "IRtest<0>" LOCATE = SITE "P60" LEVEL 1;
COMP "IRtest<1>" LOCATE = SITE "P61" LEVEL 1;
COMP "IRtest<2>" LOCATE = SITE "P62" LEVEL 1;
COMP "IRtest<3>" LOCATE = SITE "P63" LEVEL 1;
COMP "IRtest<4>" LOCATE = SITE "P2" LEVEL 1;
COMP "IRtest<5>" LOCATE = SITE "P108" LEVEL 1;
COMP "IRtest<6>" LOCATE = SITE "P109" LEVEL 1;
COMP "IRtest<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "IRtest<8>" LOCATE = SITE "P126" LEVEL 1;
COMP "IRtest<9>" LOCATE = SITE "P127" LEVEL 1;
COMP "nmreq" LOCATE = SITE "P168" LEVEL 1;
COMP "npreq" LOCATE = SITE "P192" LEVEL 1;
COMP "Ttest<0>" LOCATE = SITE "P3" LEVEL 1;
COMP "Ttest<1>" LOCATE = SITE "P200" LEVEL 1;
COMP "Ttest<2>" LOCATE = SITE "P199" LEVEL 1;
COMP "Ttest<3>" LOCATE = SITE "P197" LEVEL 1;
COMP "IRtest<10>" LOCATE = SITE "P129" LEVEL 1;
COMP "IRtest<11>" LOCATE = SITE "P202" LEVEL 1;
COMP "IRtest<12>" LOCATE = SITE "P203" LEVEL 1;
COMP "IRtest<13>" LOCATE = SITE "P205" LEVEL 1;
COMP "IRtest<14>" LOCATE = SITE "P206" LEVEL 1;
COMP "IRtest<15>" LOCATE = SITE "P103" LEVEL 1;
COMP "ABus<10>" LOCATE = SITE "P115" LEVEL 1;
COMP "ABus<11>" LOCATE = SITE "P116" LEVEL 1;
COMP "ABus<12>" LOCATE = SITE "P119" LEVEL 1;
COMP "ABus<13>" LOCATE = SITE "P140" LEVEL 1;
COMP "ABus<14>" LOCATE = SITE "P144" LEVEL 1;
COMP "ABus<15>" LOCATE = SITE "P145" LEVEL 1;
COMP "IOAD<0>" LOCATE = SITE "P77" LEVEL 1;
COMP "IOAD<1>" LOCATE = SITE "P185" LEVEL 1;
COMP "IOR0<0>" LOCATE = SITE "P154" LEVEL 1;
COMP "IOR0<1>" LOCATE = SITE "P148" LEVEL 1;
COMP "IOR0<2>" LOCATE = SITE "P142" LEVEL 1;
COMP "IOR0<3>" LOCATE = SITE "P136" LEVEL 1;
COMP "IOR1<0>" LOCATE = SITE "P174" LEVEL 1;
COMP "IOR0<4>" LOCATE = SITE "P130" LEVEL 1;
COMP "IOR1<1>" LOCATE = SITE "P204" LEVEL 1;
COMP "IOR0<5>" LOCATE = SITE "P124" LEVEL 1;
COMP "IOR1<2>" LOCATE = SITE "P194" LEVEL 1;
COMP "IOR0<6>" LOCATE = SITE "P118" LEVEL 1;
COMP "IOR1<3>" LOCATE = SITE "P175" LEVEL 1;
COMP "IOR0<7>" LOCATE = SITE "P110" LEVEL 1;
COMP "IOR2<0>" LOCATE = SITE "P94" LEVEL 1;
COMP "IOR1<4>" LOCATE = SITE "P169" LEVEL 1;
COMP "IOR2<1>" LOCATE = SITE "P93" LEVEL 1;
COMP "IOR1<5>" LOCATE = SITE "P101" LEVEL 1;
COMP "IOR2<2>" LOCATE = SITE "P91" LEVEL 1;
COMP "IOR1<6>" LOCATE = SITE "P97" LEVEL 1;
COMP "IOR2<3>" LOCATE = SITE "P90" LEVEL 1;
COMP "IOR1<7>" LOCATE = SITE "P96" LEVEL 1;
COMP "IOR3<0>" LOCATE = SITE "P72" LEVEL 1;
COMP "IOR2<4>" LOCATE = SITE "P89" LEVEL 1;
COMP "IOR3<1>" LOCATE = SITE "P71" LEVEL 1;
COMP "IOR2<5>" LOCATE = SITE "P87" LEVEL 1;
COMP "IOR3<2>" LOCATE = SITE "P69" LEVEL 1;
COMP "IOR2<6>" LOCATE = SITE "P80" LEVEL 1;
COMP "IOR3<3>" LOCATE = SITE "P68" LEVEL 1;
COMP "IOR2<7>" LOCATE = SITE "P78" LEVEL 1;
COMP "IOR3<4>" LOCATE = SITE "P65" LEVEL 1;
COMP "IOR3<5>" LOCATE = SITE "P64" LEVEL 1;
COMP "IOR3<6>" LOCATE = SITE "P58" LEVEL 1;
COMP "IOR3<7>" LOCATE = SITE "P57" LEVEL 1;
COMP "DBus<10>" LOCATE = SITE "P123" LEVEL 1;
COMP "DBus<11>" LOCATE = SITE "P128" LEVEL 1;
COMP "DBus<12>" LOCATE = SITE "P132" LEVEL 1;
COMP "DBus<13>" LOCATE = SITE "P133" LEVEL 1;
COMP "DBus<14>" LOCATE = SITE "P134" LEVEL 1;
COMP "DBus<15>" LOCATE = SITE "P135" LEVEL 1;
COMP "IOW0<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "IOW0<1>" LOCATE = SITE "P5" LEVEL 1;
COMP "IOW0<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "IOW0<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "IOW1<0>" LOCATE = SITE "P18" LEVEL 1;
COMP "IOW0<4>" LOCATE = SITE "P11" LEVEL 1;
COMP "IOW1<1>" LOCATE = SITE "P19" LEVEL 1;
COMP "IOW0<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "IOW1<2>" LOCATE = SITE "P22" LEVEL 1;
COMP "IOW0<6>" LOCATE = SITE "P15" LEVEL 1;
COMP "IOW1<3>" LOCATE = SITE "P23" LEVEL 1;
COMP "IOW0<7>" LOCATE = SITE "P16" LEVEL 1;
COMP "IOW2<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "IOW1<4>" LOCATE = SITE "P24" LEVEL 1;
COMP "IOW2<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "IOW1<5>" LOCATE = SITE "P25" LEVEL 1;
COMP "IOW2<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "IOW1<6>" LOCATE = SITE "P28" LEVEL 1;
COMP "IOW2<3>" LOCATE = SITE "P35" LEVEL 1;
COMP "IOW1<7>" LOCATE = SITE "P29" LEVEL 1;
COMP "IOW3<0>" LOCATE = SITE "P42" LEVEL 1;
COMP "IOW2<4>" LOCATE = SITE "P36" LEVEL 1;
COMP "IOW3<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "IOW2<5>" LOCATE = SITE "P39" LEVEL 1;
COMP "IOW3<2>" LOCATE = SITE "P47" LEVEL 1;
COMP "IOW2<6>" LOCATE = SITE "P40" LEVEL 1;
COMP "IOW3<3>" LOCATE = SITE "P48" LEVEL 1;
COMP "IOW2<7>" LOCATE = SITE "P41" LEVEL 1;
COMP "IOW3<4>" LOCATE = SITE "P49" LEVEL 1;
COMP "IOW3<5>" LOCATE = SITE "P50" LEVEL 1;
COMP "IOW3<6>" LOCATE = SITE "P55" LEVEL 1;
COMP "IOW3<7>" LOCATE = SITE "P56" LEVEL 1;
COMP "ABus<0>" LOCATE = SITE "P179" LEVEL 1;
COMP "ABus<1>" LOCATE = SITE "P178" LEVEL 1;
COMP "ABus<2>" LOCATE = SITE "P177" LEVEL 1;
COMP "ABus<3>" LOCATE = SITE "P172" LEVEL 1;
COMP "ABus<4>" LOCATE = SITE "P171" LEVEL 1;
COMP "ABus<5>" LOCATE = SITE "P151" LEVEL 1;
COMP "ABus<6>" LOCATE = SITE "P150" LEVEL 1;
COMP "ABus<7>" LOCATE = SITE "P147" LEVEL 1;
COMP "ABus<8>" LOCATE = SITE "P146" LEVEL 1;
COMP "ABus<9>" LOCATE = SITE "P113" LEVEL 1;
COMP "DBus<0>" LOCATE = SITE "P167" LEVEL 1;
COMP "DBus<1>" LOCATE = SITE "P165" LEVEL 1;
COMP "DBus<2>" LOCATE = SITE "P164" LEVEL 1;
COMP "DBus<3>" LOCATE = SITE "P163" LEVEL 1;
COMP "DBus<4>" LOCATE = SITE "P162" LEVEL 1;
COMP "DBus<5>" LOCATE = SITE "P161" LEVEL 1;
COMP "DBus<6>" LOCATE = SITE "P160" LEVEL 1;
COMP "DBus<7>" LOCATE = SITE "P153" LEVEL 1;
COMP "DBus<8>" LOCATE = SITE "P120" LEVEL 1;
COMP "DBus<9>" LOCATE = SITE "P122" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

